<div class="container p-5">
    <div class="fb-container shadow bg-d1">
        <div class="fb-item-products">
            <ul class="group-list">
                <h4>Profile</h4>
                <li class="list-group-item border border-2 border-dark">
                    Company: <span class="border border-2 rounded border-dark">{{manager}}</span> 
                </li>                
                <li class="list-group-item border border-2 border-dark">
                    User: <span class="border border-2 rounded border-dark">{{request.user}}</span> 
                </li>
                <br>
            </ul>
        </div>
    </div>
</div>