{% extends 'index.html' %} {% block auth %}
<div class="container">
  <div class="text-center">
    <div class="row d-flex justify-content-center" style="padding-top: 25vh;padding-bottom: 30vh;">
      <div class="col-md-4 rounded shadow p-1">
        <form class="form bg-d1 p-5 rounded" method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <input style="text-align: center" class="form-control text-center p-2 bg-lt text-dark" type="email" name="email"
            placeholder="email" />
          <br />
          <input style="text-align: center" class="form-control text-center p-2 bg-lt text-dark" type="password"
            name="password" placeholder="password" />
          <br />
          <br />
          <input style="text-align: center" class="form-control p-2 btn btn-outline-light shadow" type="submit" value="Login" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}