{% if user.is_authenticated %}
<nav class="navbar navbar-expand-md text-uppercase nav_font fixed-top bg-d1 p-0">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
        aria-expanded="false" aria-controls="#main_nav">
        <i class="fas fa-bars text-light"></i>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
        <a href="{% url 'portal' %}" class="nav-link text-white 
        {% if page == "dashboard" %}nav_selected border-top{% endif %}">
            Dashboard
        </a>
        <a href="{% url 'portal' 'manager' %}" class="nav-link text-white
        {% if 'manager' in request.path %}nav_selected border-top{% endif %}">
             Manager
        </a>
        <a href="{% url 'portal' 'reports' %}" class="nav-link text-white 
        {% if 'reports' in request.path %}nav_selected border-top{% endif %}">
           Reports
        </a>
        <div class="nav ms-auto ">
            <a href="{% url 'portal' 'profile' %}" class="nav-link text-white
            {% if 'profile' in request.path %}nav_selected border-top{% endif %}">
               Profile
            </a>
            <a href="#" onClick="document.getElementById('logoutform').submit()" class="nav-link text-white">Logout</a>
            <form id="logoutform" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="hidden">
            </form>
        </div>
    </div>
</nav>
{% endif %}